<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753537962004-02mol5fnpi5sec1rmrmhvbgfr8g1lad2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753537962004-02mol5fnpi5sec1rmrmhvbgfr8g1lad2</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ0YOJkoeJem3pIwuEZ1Yw_e3vWQsbpIc</string>
	<key>GCM_SENDER_ID</key>
	<string>753537962004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-ff4f6</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-ff4f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753537962004:ios:38f0612b02a49a7b5a5701</string>
</dict>
</plist>